<div class="mat-headline">
  This are examples to learn more about Angular Material
</div>

<div class="mat-title">Step 1: Setup</div>
<button mat-raised-button>Hello World</button>

<hr />

<div class="mat-title">Step 2: Typography</div>

<div>
  <span>
    For more informations:
    <a href="https://material.angular.io/guide/typography" target="_blank">
      here
    </a>
  </span>
</div>

<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
  <h1>This is a heading for h1</h1>
  <h2>This is a heading for h2</h2>
  <h3>This is a heading for h3</h3>
  <h4>This is a heading for h4</h4>
</div>

<hr />
<div class="mat-title">Step 3: Buttons</div>

<div>
  <span>
    For more informations:
    <a
      href="https://material.angular.io/components/button/overview"
      target="_blank"
    >
      here
    </a>
  </span>
</div>

<div>
  <button mat-button>Click me!</button>
  <button mat-raised-button>Click me!</button>
  <button mat-flat-button>Click me!</button>
  <button mat-stroked-button>Click me!</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Minifab</button>
</div>

<div>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>

  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>

  <button mat-raised-button disableRipple color="primary">Primary</button>
  <button mat-raised-button disableRipple color="accent">Accent</button>
  <button mat-raised-button disableRipple color="warn">Warn</button>
</div>

<hr />
<div class="mat-title">Step 4: Button Toggle</div>

<div>
  <span>
    For more informations:
    <a
      href="https://material.angular.io/components/button-toggle/overview"
      target="_blank"
    >
      here
    </a>
  </span>
</div>

<div>
  <mat-button-toggle #toggleBtn checked>Toggle</mat-button-toggle>
  {{ toggleBtn.checked }}
</div>

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div>

<hr />
<div class="mat-title">Step 5: Icon</div>

<div>
  <span>
    For more informations:
    <a
      href="https://material.angular.io/components/icon/overview"
      target="_blank"
    >
      here
    </a>
    and
    <a
      href="https://material.io/resources/icons/?style=baseline"
      target="_blank"
    >
      here
    </a>
  </span>
</div>

<div>
  <mat-icon color="primary">grade</mat-icon>
  <mat-icon>outbound</mat-icon>
  <mat-icon>next_plan</mat-icon>
</div>

<hr />
<div class="mat-title">Step 5: Badges</div>

<div>
  <span>
    For more informations:
    <a
      href="https://material.angular.io/components/badge/overview"
      target="_blank"
    >
      here
    </a>
  </span>
</div>

<div class="notification">
  <div>
    <span [matBadge]="notification" [matBadgeHidden]="notification === 0">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="below before">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="below after">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="above before">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgePosition="above after">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgeSize="small">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgeSize="medium">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgeSize="large">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgeColor="primary">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgeColor="accent">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgeColor="warn">Notification</span>
  </div>
  <div>
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notification</span>
  </div>
</div>

<hr />
<div class="mat-title">Step 6: Progress Spinner</div>

<div>
  <span>
    For more informations:
    <a
      href="https://material.angular.io/components/progress-spinner/overview"
      target="_blank"
    >
      here
    </a>
  </span>
</div>

<mat-progress-spinner value="40"></mat-progress-spinner>
<mat-progress-spinner value="0"></mat-progress-spinner>
<mat-progress-spinner value="100"></mat-progress-spinner>

<mat-spinner *ngIf="showSpinner"></mat-spinner>
<mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
<button (click)="loadData()">Load Data</button>

<hr />
<div class="mat-title">Step 7: Navigation Components</div>

<div>
  <span>
    For more informations:
    <a
      href="https://material.angular.io/components/toolbar/overview"
      target="_blank"
    >
      Toolbar
    </a>
  </span>
</div>

<mat-toolbar color="primary">
  <span>Tutorial</span>
</mat-toolbar>

<mat-toolbar color="primary" class="navbar">
  <div>Tutorial</div>
  <div>
    <span>Section 1</span>
    <span>Section 2</span>
    <span>Section 3</span>
  </div>
</mat-toolbar>
